<div ng-init="init()">
  <div id="monitorDimensionInput"
      data-intro="Enter the dimension of your monitor(s) here."
      data-position="bottom">
    <div class="monitor-group" ng-repeat="monitor in monitors">
      <label>Width &nbsp;:
        <input class="monitor-input" type="number" ng-model="monitor.width" ng-change="sumMonitors()"/>
      </label>
      <label>Height :
        <input class="monitor-input" type="number" ng-model="monitor.height" ng-change="sumMonitors()"/>
      </label>
    </div>
    <div id="blank-monitor" data-intro="Leave Zero's for remaining monitors."
      data-position="bottom">&nbsp;</div>
    <br/>
  </div>
  <div id="controls">
    <button class="alert" ng-click="openFile()"><i class="fa fa-upload"></i> Upload</button>
    <button class="alert" ng-click="crop()" ng-show="imageSrc"><i class="fa fa-crop"></i> Crop</button>
    <a id="download-button" class="button alert"
          ng-show="downloadTitle"
          download="{{downloadTitle}}"
          href="{{imageSrc}}">
       <i class="fa fa-download"></i> Download
     </a>
  </div>
  {{imageName}}
  <input type="file" id="file" name="file" onchange="angular.element(this).scope().fileSelect(this)" style="display:none;"/>
  <div id="imageHolder" data-intro="When the time comes, click download and set image as background and set display mode to tile. Enjoy!" data-posistion="bottom">
    <img id="theImage" ng-src="{{imageSrc}}" />
  </div>
</div>
