<div ng-init="init()">
  <header id="appHeader">
    <!-- <a href="#/"><i class="fa fa-home fa-4x"></i></a> -->
    <h2>Multi Monitor Background Cropper</h2>
    <i ng-click="help()"
        class="fa fa-question-circle fa-4x red"
        data-intro="View this again"
        data-position="left"></i>
  </header>
  <p>
    Have multiple monitors and would love to have an image to stretch across
    all of them? The trick is to have the perfect sized image set in 'tile' mode.
    This tool will crop and scale an image for you all in one step. Best of all,
    your image is never uploaded to our server, it stays in your computer's browser.
  </p>
  <h3>Monitor(s) Dimensions</h3>
 <div id="monitor-dim-info" data-intro="Enter your Monitor(s) dimensions here" data-position="top">&nbsp;</div>
  <div id="monitorDimensionInput"
      data-intro="Leave zeros for<br/>remaining monitors."
      data-position="right">
    <div class="monitor-group" ng-repeat="monitor in monitors">
      <label>Width &nbsp;:
        <input class="monitor-input" type="number" ng-model="monitor.width" ng-change="sumMonitors()"/>
      </label>
      <label>Height :
        <input class="monitor-input" type="number" ng-model="monitor.height" ng-change="sumMonitors()"/>
      </label>
    </div>
    <div id="blank-div" >&nbsp;</div>
    <br/>
  </div>
  <div id="controls" >
    <button
        class="alert" ng-click="openFile()"
        data-intro="Select image you wish to edit."
        data-position="bottom">
      <i class="fa fa-image"></i> Open
    </button>
    <button 
        id="crop-button"
        class="alert"
        ng-click="crop()"
        ng-show="imageSrc"
        data-intro="Crop and Scale in one step."
        data-posistion="bottom">
      <i class="fa fa-crop"></i> Crop
    </button>
    <a id="download-button" class="button alert"
          ng-show="downloadTitle"
          download="{{downloadTitle}}"
          href="{{imageSrc}}"
          data-intro="Save adjusted image."
          data-posistion="bottom">
       <i class="fa fa-download"></i> Download
     </a>
     <button
        id="again-button"
        class="success"
        ng-show="downloadTitle"
        ng-click="again()">
      <i class="fa fa-refresh"></i> Again
    </button>
  </div>
  {{imageName}}
  <input type="file" id="file" name="file" onchange="angular.element(this).scope().fileSelect(this)" style="display:none;"/>
  <div id="imageHolder" >
    <img id="theImage" ng-src="{{imageSrc}}" />
  </div>
</div>
