body {
  background: #eeeeee;
}

.ng-hide {
  display: inline-block !important;
  visibility: hidden;
}

header,
#monitorDimensionInput {
  margin-bottom: 20px;
}

header {
  background: #ffffff;
  text-align: right;
  padding: 0 40px;
  border-bottom: solid 2px #f04124;
  box-shadow: 0px 2px 4px #aaaaaa;
}

header h2 {
  display: inline;
  margin-right: 50px;
  vertical-align: top;
}

#container {
  margin: 0 40px;
}

#monitor-dim-info {
  width: 650px;
  height: 0px;
}

#monitorDimensionInput {
  display: inline-block;
  padding-top: 10px;
}

.monitor-group {
  display: inline-block;
  width: 150px;
  margin-left: 10px;
  margin-bottom: 10px;
  background: #ffffff;
  padding: 5px;
  border-radius: 2px;
}

.red {
  color: #f04124;
}

.monitor-group input {
  display: inline;
  width: 85px;
}

#blank-div {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  width:1px;
}

#controls button,
#controls a {
  margin-left: 10px;
}

.tap-dismiss {
  text-align:center;
  width: 400px;
  height: 100px;
  margin-left: -200px;
  margin-top: -50px;
  position: absolute;
  left: 50%;
  bottom: 20%;
}
